// COLOR VARIABLES
$bg-color: #1f1f38;
$bg-color-variant: #2c2c6c;
$color-primary: #4db5ff;
$color-primary-variant: rgba(77, 181, 255, 0.4);
$color-white: #fff;
$color-light: rgba(255, 255, 255, 0.6);
$transition: all 400ms ease;

// SIZE VARIABLES
$container-width:(
  lg: 75%,
  md: 86%,
  ms: 90%,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
