@use '../../sass/global.scss' as *;

.about-container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.about-me {
  width: 100%;
  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, $color-primary, transparent);
  display: grid;
  place-items: center;
}

.about-me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: $transition;

  &:hover {
    transform: rotate(0);
  }
}

.about-content {
  p {
    margin: 2rem 0 2.6rem;
    color: $color-light;
  }

  a {
    margin-top: 2rem;
  }
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.about-card {
  background: $bg-color-variant;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: $transition;

  &:hover {
    background: transparent;
    border-color: $color-primary-variant;
  }

  h5 {
    font-size: 0.95rem;
  }

  small {
    font-size: 0.7rem;
    color: $color-light;
  }
}

.about-icon {
  color: $color-primary;
  font-size: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
  .about-container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about-me {
    width: 50%;
    margin: 2rem auto 4rem;
  }

  .about-content {
    p {
      margin: 1rem 0 1.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  section {
    margin-bottom: 2rem;
  }

  .about-me {
    width: 65%;
    margin: 0 auto 3rem;
  }

  .about-cards {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  .about-card {
    padding: 1rem;
  }

  .about-content {
    text-align: center;

    p {
      display: none;
    }

    a {
      margin-top: 3.5rem;
    }
  }
}
