@use '../../sass/global.scss' as *;

.container.contact-container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact-options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact-option {
  background-color: $bg-color-variant;
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: $transition;

  &:hover {
    background: transparent;
    border-color: $color-primary-variant;
  }

  a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
  }
}

.contact-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  textarea,
  input {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    background: transparent;
    border: 2px solid $color-primary-variant;
    resize: none;
    color: $color-white;
  }
}

.btn.btn-primary {
  font-size: 1.2rem;
}

@media screen and (max-width: 1024px) {
  .container.contact-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .container.contact-container {
    width: map_get($container-width, ms);
  }

  .btn.btn-primary {
    font-size: 1.1rem;
  }
}
