@use '../../sass/global.scss' as *;

.container.testimonials-container {
  width: 40%;
  padding-bottom: 2rem;
}

.colleagues-avatar {
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.4rem solid $color-primary-variant;

  img {
    border-radius: 50%;
  }
}

.testimonial {
  background: $bg-color-variant;
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
  cursor: pointer;
}

.colleague-review {
  color: $color-light;
  font-weight: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
}

@media screen and (max-width: 1024px) {
  .container.testimonials-container {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .container.testimonials-container {
    width: map_get($container-width, ms);
  }

  .colleague-review {
    width: map_get($container-width, ms);
  }
}
