@use '../../sass/global.scss' as *;

.experience-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

}

.stacks {
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  background: $bg-color-variant;
  transition: $transition;

  &:hover {
    background: transparent;
    border-color: $color-primary-variant;
    cursor: default;
  }

  h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: $color-primary;
  }
}

.experience-content {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  row-gap: 2rem;
}

.experience-details {
  display: flex;
  gap: 1rem;
}

